<form [autocomplete]="'off'">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ field?.label }}</mat-label>
    <input matInput [type]="viewPassword ? 'text' : 'password'" [formControl]="fieldControl" [autocomplete]="'off'">
    <mat-icon matSuffix (click)="viewPassword = !viewPassword">{{ viewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    <mat-error *ngIf="isInvalid">
      <span
        class="error-icon">
        {{ errorMessage }}
      </span>
    </mat-error>
  </mat-form-field>
</form>
