<form [autocomplete]="'off'">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ field?.label }}</mat-label>
    <mat-select [formControl]="fieldControl">
      <mat-option
        *ngFor="let option of field?.options"
        [value]="option.value">
        {{ option.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isInvalid">
      <span
        class="error-icon">
        {{ errorMessage }}
      </span>
    </mat-error>
  </mat-form-field>
</form>
