<mat-drawer-container class="example-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-list>
      <div class="w-100 flex justify-end items-center">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div mat-subheader>Modules</div>
      <div>
        <mat-list-item class="w-full" *ngFor="let menu of menuList" [routerLink]="[menu.path]" routerLinkActive="router-link-active" >
          <div class="w-full flex justify-start items-center hover:bg-gray-100 cursor-pointer p-4">
            <mat-icon>{{menu.icon}}</mat-icon>
            <span class="ml-4">{{menu.name}}</span>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="example-sidenav-content" [ngStyle]="{ 'background-image': 'url(' + img + ')' }">
      <app-toolbar (openSidenav)="drawer.toggle()"></app-toolbar>
      <div class="w-full p-10 mt-10">
        <ng-content [selector]="'routerApp'"></ng-content>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
