.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.example-sidenav {
  // width: 400px;
  padding: 10px;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}
