<mat-toolbar class="toolbar fixed">
  <button mat-icon-button (click)="open()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <img [src]="logo" alt="mpos">
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logOut()">
      <mat-icon>logout</mat-icon>
      <span>Cerar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
