.toolbar {
  color: white;
  background: rgb(26,19,63);
  background: linear-gradient(180deg, rgba(26,19,63,1) 0%, rgba(26,19,63,1) 9%, rgba(255,255,255,0) 93%);
}

.example-spacer {
  flex: 1 1 auto;
}
