<div class="table z-10 bg-white mat-elevation-z8 animate__animated animate__fadeInLeftBig">
  <div class="table-head">{{ title | uppercase }}</div>
  <mat-divider></mat-divider>
  <div *ngIf="!loadign">
    <div class="table-app-container" *ngIf="dataTable.length > 0; else notAvailable">
      <table class="table-content font-sans text-xs" [ngClass]="{'elevation': !elevationWhitPagination}">
        <thead class="table-content-head">
          <tr class="table-content-head-row">
            <th class="table-content-head-row-col font-sans text-xs uppercase" *ngFor="let column of columns">
              <span>{{ column?.columnName }}</span>
            </th>
          </tr>
        </thead>
        <tbody class="table-content-body">
          <tr class="table-content-body-row" *ngFor="let row of dataTable; let inx = index">
            <td class="table-content-body-row-cell" *ngFor="let column of columns">
              <div [ngSwitch]="column?.type">
                <span *ngSwitchCase="'text'">
                  {{ !column.pipeCustom
                    ? row[column.key]
                    : column.pipeCustom[row[column.key]]
                  }}
                </span>
                <span *ngSwitchCase="'number'">
                  {{ row[column.key] | number }}
                </span>
                <span *ngSwitchCase="'coin'">
                  {{ '$' + (row[column.key] | number) }}
                </span>
                <span *ngSwitchCase="'buttons-actions'">
                  <div class="flex justify-center items-center" >
                    <span *ngFor="let option of column?.options">
                      <button
                        class="m-2"
                        mat-icon-button
                        [matTooltip]="option?.name"
                        *ngIf="option?.view && checkValueView(row, option?.view)"
                        (click)="activeAction(row, option?.action)">
                        <mat-icon>{{ option.icon }}</mat-icon>
                      </button>
                    </span>
                  </div>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator
      *ngIf="showPagination"
      class="table-app-container-paginator"
      (page)="page($event)"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [length]="pageLength"
      [pageSizeOptions]="[3, 5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
    <ng-template #notAvailable>
      <div class="not-vailable">
        <span>NO HAY DATOS</span>
      </div>
    </ng-template>
  </div>
  <div *ngIf="loadign">
    <mat-progress-bar color="primary" class="progres-bar" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
