// @import '../../../../../../../../assets/scss/color';

.table {
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  font-family: "Inter var", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  border-radius: 16px;

  &-head{
    padding: 20px;
    text-align: center;
  }

  &-content {
    width: 100%;
    border-collapse: collapse;

    &-head {
      padding: 10px;
      color: #64748b;
      text-align: left;
      font-size: 14px;

      &-row {
        text-align: left;
        transition: all 0.3s;
        border-bottom-color: #e2e8f0;
        padding: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &:nth-child(even) {
          background-color: #F5F5F5;
        }

        &-col {
          padding: 15px;
          text-align: center;
        }
      }
    }

    &-body {
      padding: 10px;
      margin: 10px;
      color: #1e293b;
      font-size: 14px;
      border-bottom: 1px solid rgba(15, 23, 42, 0.236);

      &-row {
        transition: all 0.3s;
        border-bottom-color: #e2e8f0;
        padding: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &:nth-child(even) {
          background-color: #F5F5F5;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.116);
        }

        &-cell {
          padding: 15px;
          text-align: center;
        }
      }
    }
  }

  &-paination {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-button {
      width: 80%;
      transform: scale(1.1);
      font-size: 16px;
      font-weight: 600;
      display: block;
      transition: all 0.5s;
      background-color: rgb(51, 166, 76);
      color: white;

      &:hover {
        transform: scale(1.15);
      }
    }
  }

}

.zoom-in {
  animation-name: zoom-in;
  animation-duration: 1s;
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


th{
  color:black;
  font-size: 14px;
  font-weight: 500;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: linear-gradient(
    to right,
    rgb(232, 232, 232) 0.2%,
    rgb(233, 233, 233) 0.3%,
    rgba(233, 233, 233, 0.657)  50%,
    rgba(233, 233, 233, 0.397)  75%,
    rgba(233, 233, 233, 0.054)  100%
  );
  cursor: pointer;
}


.not-vailable{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;

  span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    background-color: #0047cb49;
    font-weight: 600;
  }
}
