<div>
  <div class="flex justify-end items-center p-4">
    <app-add-form
      [title]="titleForm"
      [configForm]="categoryForm"
      (isOpenDialog)="isOpenObserver($event)"
      (setForm)="setForm($event)"
      (sendData)="sendData($event)">
    </app-add-form>
  </div>
  <div class="p-4">
    <app-generic-table
      [title]="titleTable"
      [columns]="columns"
      [dataTable]="dataTable"
      [loadign]="loading"
      (changeDataRow)="changeDataRow($event)">
    </app-generic-table>
  </div>
</div>


