<form [formGroup]="dynamicForm" [autocomplete]="'off'">
  <div class="flex justify-end items-center" *ngIf="isDialog">
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2 class="text-2xl font-semibold" *ngIf="isDialog">{{ title }}</h2>
  <section *ngFor="let field of fromModule?.fields" [ngSwitch]="field.type">
    <div *ngIf="!field.hidden">
      <div *ngSwitchCase="'text'">
        <app-text-field
          [field]="field"
          [fieldControl]="dynamicForm.get(field.name)">
        </app-text-field>
      </div>
      <div *ngSwitchCase="'password'">
        <app-password-field
          [field]="field"
          [fieldControl]="dynamicForm.get(field.name)">
        </app-password-field>
      </div>
      <div *ngSwitchCase="'number'">
        <app-number-field
          [field]="field"
          [fieldControl]="dynamicForm.get(field.name)">
        </app-number-field>
      </div>
      <div *ngSwitchCase="'select'">
        <app-select-field
          [field]="field"
          [fieldControl]="dynamicForm.get(field.name)">
        </app-select-field>
      </div>
      <div *ngSwitchDefault>
        <app-text-field
          [field]="field"
          [fieldControl]="dynamicForm.get(field.name)">
        </app-text-field>
      </div>
    </div>
  </section>
  <div class="p-2">
    <button
      mat-raised-button
      class="w-full block text-xl button-rounded"
      [disabled]="dynamicForm.invalid"
      (click)="sendDataForm($event)">
      <div class="flex justify-center items-center p-2">
        <span>{{ titleButton }}</span>
        <mat-icon class="ml-2">near_me</mat-icon>
      </div>
    </button>
  </div>
</form>
