<div class="login w-full h-full" [ngStyle]="{ 'background-image': 'url(' + img + ')' }">
  <div class="w-full h-full flex justify-between items-start">
    <div class="m-6 flex justify-start items-start">
      <img [src]="logo" alt="mpos">
    </div>
    <div class="h-full p-20 flex justify-end items-center">
      <mat-card class="w-96 m-14 animate__animated animate__fadeInDownBig">
        <mat-card-content>
          <div class="text-center m-4 p-10">
            <mat-icon class="login-icon">account_circle</mat-icon>
          </div>
          <div class="text-center">
            <h2>{{ 'Iniciar Sesión' | uppercase }}</h2>
            <div class="flex justify-center items-start">
              <hr class="w-2/3 h-0.5 border-none text-gray-300 bg-gray-300">
            </div>
          </div>
          <div class="m-4">
            <app-form-generic
              [isDialog]="false"
              [dataForm]="dataForm"
              (formGeneric)="setForm($event)"
              (sendData)="login($event)">
            </app-form-generic>
          </div>
          <div class="flex justify-end items-center m-4 italic font-medium">
            <span class="mx-1 mb-4">¿No tienes una cuenta?</span>
            <span class="text-blue-600 underline mx-1 mb-4 cursor-pointer" routerLink="sign-up">
              Registrate aquí
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
