<div class="notification">
  <div class="notification-content">
    <mat-icon>{{ icon[data.icon] }}</mat-icon>
    <p class="notification-content-p">{{ data.message }}</p>
      <mat-icon class="notification-content-p-icon" mat-icon-button (click)="snackbarRef.dismiss()">close</mat-icon>
    </div>
</div>
