
.notification {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &-content{
      display: flex;
     gap: 10px;
     &-p{
      margin: 0;
      margin-top: 3px;
      &-icon{
          cursor: pointer;
      }
   }
  }

}
