<form [autocomplete]="'off'">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ field?.label }}</mat-label>
    <input matInput [formControl]="fieldControl" [autocomplete]="'off'">
    <mat-error *ngIf="isInvalid">
      <span
        class="error-icon">
        {{ errorMessage }}
      </span>
    </mat-error>
  </mat-form-field>
</form>
