/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'animate.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-icon::before {
  z-index: 3;
  margin-top: 10px;
  display: inline;
  content: '⚠  ';
}

.success-notification {
  border: 1px solid #339900;
  background: rgba(51, 153, 0, 0.788);
  color: white;
}
.error-notification {
  border: 1px solid red;
  background: rgba(221, 55, 55, 0.768);
  color: white;
}
.warning-notification {
  border: 1px solid #ffcc00bd;
  background: rgba(255, 204, 0, 0.741);
  color: white;
}
.info-notification {
  border: 1px solid #0044ff9e;
  background: rgba(0, 68, 255, 0.62);
  color: white;
}
